<%- include('partials/header.ejs') %>
<body>
<%- include('partials/navbar.ejs') %>
<div id = "user-profile-view">
   <div class="container justify-content-center">
        <h2>Profile Details</h2>
        <div class="card" id="user-profile-card">
            <i class="fa-solid fa-pen text-end"></i>
            <table style="width: 100%">
                <colgroup>
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 70%;">
                 </colgroup>
                <tbody>
                    <tr>
                        <td>Username</td>
                        <td>:</td>
                        <td><%= user.username%></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td><%= user.email%></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <h2>Shipping Address</h2>
        <div class="card" id="user-profile-address-card">
            <% if (address) { %>
            <a class="text-end" href="/home/address/<%=address.id%>/update"><i class="fa-solid fa-pen"></i></a>
            <table style="width: 100%">
                <colgroup>
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 70%;">
                 </colgroup>
                <tbody> 
                    <tr>
                        <td>Street / Building Name</td>
                        <td>:</td>
                        <td><%= address.name%></td>
                    </tr>
                    <% if (address.floorNo) { %>
                    <tr>
                        <td>Floor No</td>
                        <td>:</td>
                        <td><%= address.floorNo%></td>
                    </tr>
                    <% } %>
                    <% if (address.unitNo) { %>
                    <tr>
                        <td>Unit No</td>
                        <td>:</td>
                        <td><%= address.unitNo%></td>
                    </tr>
                    <% } %>
                    <tr>
                        <td>Postal Code</td>
                        <td>:</td>
                        <td><%= address.postalCode%></td>
                    </tr>
                </tbody>
            </table>
            <% } %>
            <br>
            <a href='/home/address/create' class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i>&nbsp;Add Address</a>
        </div>
    </div> 
</div>


</body>
<%- include('partials/footer.ejs') %>