<%- include('../../partials/header.ejs') %>
<body>
<%- include('../../partials/navbar-admin.ejs') %>
<div class="card page-card">
    <div class="row justify-content-md-center mb-3">
        <h1 class="card-title text-center" style="color:rgb(0, 16, 87); font-weight:bold">
            <%= recipe.name %>
        </h1>
    </div>
    <hr />
    <% if (typeof image !== 'undefined') { %>
    <div class="row justify-content-md-center mb-3">
        <div class="col-md-8 col-md-offset-2 text-center">
            <img id="uploaded-image" src="<%=image.srcPath%>" width="70%">
            <br>
        </div>

    </div>

    <% } %>
    <div class="row justify-content-md-center">
        <div class="col-md-8 col-md-offset-2">
            <%- include('../../partials/alerts.ejs') %>
            <br>
            <hr />
            <% if (ingredients) { %>
                <div class="row justify-content-md-center mb-3">
                    <h2 class="text-center" style="color:rgb(0, 16, 87); font-weight:bold">
                        Ingredients
                    </h2>
                </div>
                <% for (let i in ingredients) { %>
                    <% const curr = ingredients[i] %>
                    <div class="card">
                        <div class="card-body row">
                            <div class="col-sm-1"><%= parseInt(i)+1 %>. </div>
                            <div class="col-sm-8">
                                <%= ingredients[i].amount %>
                                <% if (ingredients[i].uom !== 'quantity') { %>
                                <%= ingredients[i].uom %> 
                                <% } %>
                                x
                                <%= ingredients[i].name %> 
                                <% if (ingredients[i].description) { %>
                                    (<%= ingredients[i].description %>)
                                <% } %>
                            </div>
                        </div>

                    </div>
                <% } %>
            <% } %>
            <hr />

            <% if (steps) { %>
                <div class="row justify-content-md-center mb-3">
                    <h2 class="text-center" style="color:rgb(0, 16, 87); font-weight:bold">
                        Steps
                    </h2>
                </div>
                <% for (let i in steps) { %>
                    <% const curr = steps[i] %>
                    <div class="card">
                        <div class="card-body row">
                            <div class="col-sm-1"><%= parseInt(i)+1 %>. </div>
                            <div class="col-sm-8">
                                <%= steps[i].description %> 
                            </div>
                        </div>

                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
    <br>
    <div class="row justify-content-md-center">
        <div class="col-md-8 col-md-offset-2">
            <a href="/admin/recipes" class="btn btn-primary" value="Back to Recipes Home">Back to Recipes Home</a>
        </div>
    </div>
</div>


</body>
<%- include('../../partials/footer.ejs') %>
