<%- include('../../partials/header.ejs') %>

<body>
<%- include('../../partials/navbar-admin.ejs') %>
<div id="admin-home-page">
    <div class="container justify-content-center">
        <% if (messages.error) { %>
            <% for (let i in messages.error) { %>
            <div class="alert alert-danger"><i class="fa-solid fa-circle-exclamation"></i> &nbsp<%= messages.error[i] %></div>
            <% } %>
        <% } %>
        <% if (messages.success) { %>
            <% for (let i in messages.success) { %>
            <div class="alert alert-success"><i class="fa-solid fa-circle-exclamation"></i> &nbsp<%= messages.error[i] %></div>
            <% } %>
        <% } %>
        <h1>RECIPE PAGE...</h1>
        <!-- <a href='/admin/recipes/create' class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i>&nbsp;&nbsp;Add Recipe</a> -->
         <a href='/admin/recipes/create' class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i>&nbsp;&nbsp;Add Recipe</a>
    </div>
</div>
</body>

<%- include('../../partials/footer.ejs') %>
