<%- include('../../partials/header.ejs') %>
<body>
<%- include('../../partials/navbar-admin.ejs') %>
<script type="text/javascript">
    function onDelete(id) {
        if (confirm("Are you sure you want to delete this product?")) {
            var deleteUrl = `/admin/inventory/${id}/delete`
            document.getElementById("deleteProductForm").submit();
        }
    }
</script>
<div class="card page-card">
    <% if (product) { %>
    <div class="row justify-content-md-center mb-3">
        <h1 class="card-title text-center" style="color:rgb(0, 16, 87); font-weight:bold">
        Products
        </h1>
    <% } %>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-8 col-md-offset-2">
            <%- include('../../partials/alerts.ejs') %>
            <br>
            <hr />
            <% for (let i in product) { %>
                <div class="card">
                    <div class="card-body row">
                        <span class="text-end">
                            <a href="/admin/inventory/<%=product[i].id%>/update"><i class="fa-solid fa-pen" data-toggle="tooltip" data-placement="top" title="Update Product"></i></a>
                            &nbsp;
                            <a href="#" onclick="onDelete(<%=product[i].id%>)"><i class="fa-solid fa-trash-can" data-toggle="tooltip" data-placement="top" title="Delete Product"></i></a>
                        </span>
                        <div class="col-sm-1"><%= parseInt(i)+1 %>. </div>
                        <div class="col-sm-8">
                                Name: <%= product[i].name %> 
                            <br>
                            <% if (product[i].description) { %>
                                Description: <%= product[i].description %>
                                <br>
                            <% } %>
                            <% if (product[i].quantity) { %>
                                Quantity: <%= product[i].quantity %>
                            <% } %>
                            <br>
                            <% if (product[i].price) { %>
                                Price: $<%= product[i].price %>
                            <% } %>
                            <br>
                            <% if (product[i].imageId !== null) { %>
                                <div class="row justify-content-md-center mb-3">
                                    <div class="col-md-8 col-md-offset-2 text-center">
                                        <div style="margin-right:300px">
                                        <img id="uploaded-image" src="<%=product[i].srcPath%>" width="150%">
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <form hidden id="deleteProductForm" action="/admin/inventory/<%=product[i].id%>/delete" method="POST"></form>
            <% } %>
        </div>
    </div>
    <br>
    <div class="row justify-content-md-center">
        <div class="col-md-8 col-md-offset-2">
            <a href="/admin/inventory" class="btn btn-primary" value="Back to Inventory Home">Back to Inventory Home</a>
        </div>
    </div>
</div>
</body>
<%- include('../../partials/footer.ejs') %>