<%- include('../../partials/header.ejs') %>

<body>
<%- include('../../partials/navbar-user.ejs') %>
<script type="text/javascript">
    function onDelete(id) {
        if (confirm("Are you sure you want to delete this recipe?")) {
            var deleteUrl = `/admin/recipes/${id}/delete`
            document.getElementById("deleteRecipeForm").action = deleteUrl
            document.getElementById("deleteRecipeForm").submit();
        }
    }
</script>
<div id="user-home-page">
    <div class="container justify-content-center">
        <br>
        <%- include('../../partials/alerts.ejs') %>
        <br>
        <center><h1>All Recipes</h1></center>
        <br>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <% if (recipes) { %>
                <% for (let recipe of recipes) { %>
                <div class="col">
                    <div class="card h-100">
                        <img src="<%= recipe.image.srcPath%>" class="card-img-top" style="width: 100%; height: 20vw; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title"><%=recipe.name%></h5>
                            <p class="card-text"><%=recipe.cuisine%>, <%=recipe.prepTime%> <%=recipe.prepTimeUom%></p>
                            <a href="/home/recipes/<%=recipe.id%>" class="btn btn-primary">View Recipe</a>
                        </div>
                    </div>
                </div>
                <% } %>
            <% } %>
        </div>
        
    </div>
</div>
</body>

<%- include('../../partials/footer.ejs') %>
